body{
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.shutterstock.com%2Fdiscover%2Ffree-nature-images&psig=AOvVaw14S3jO-Lzr8-oXHjnapHB4&ust=1726671787899000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCMiT97mfyogDFQAAAAAdAAAAABAE);
    background-repeat: no-repeat;
}


p{
    color: chartreuse;
    background-color: black;

}